<footer class="gh-footer">
    <div class="gh-footer-inner gh-inner">
        <div class="flex" style="justify-content: space-between; display: flex;">
            <div class="gh-footer-copyright">
                &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
        </div>
    </div>
</footer>
<footer class="gh-footer-customize">
    <div class="gh-footer-inner gh-inner">
        <div class="flex" style="justify-content: space-between; display: flex;">
            {{navigation type="secondary"}}
            <div class="gh-footer-copyright">
                {{@site.title}} All Rights Reserved
            </div>
        </div>
    </div>
</footer>