<section class="gh-outer">
    <h2 class="gh-featured-title">Điểm tin 247</h2>
    <div class="gh-featured-feed">
        <livewire lazy data-component="widgets.fast-bull-news" data-params='{"data":null}'>
            {{> "components/lazy"}}
        </livewire>
    </div>
</section>