<section class="gh-about-cta-copytrading">
	{{#if @custom.cta_copytrading_background}}
    	<a href="{{@custom.cta_copytrading_link}}" target="_blank">
        	<img src="{{@custom.cta_copytrading_background}}" size="large" loading="lazy">
        </a>
    {{/if}}
</section>